<link rel="stylesheet" href="/css/main.css">

<button onclick="startBFS()">Start BFS</button> 
<button onclick="startDFS()">Start DFS</button> 

<button onclick="reset()">Reset</button> 
<div id='grid-container'>
    
</div>

<!-- <script type="module" src="/js/algorithms/BFS.js"></script>
<script type="module" src="/js/algorithms/DFS.js"></script>
<script type="module" src="/js/algorithms/Queue.js"></script>
<script type="module" src="/js/algorithms/Stack.js"></script> -->
<script src="/js/algorithms/BFS.js"></script>
<script src="/js/algorithms/DFS.js"></script>
<script src="/js/algorithms/Queue.js"></script>
<script src="/js/algorithms/Stack.js"></script>
<script src='/js/Node.js'></script>
<script src='/js/main.js'></script>